.skeleton {
  position: relative;
  overflow: hidden;
  background-color: #e0e0e0;
  border-radius: 8px;
}

.skeleton::after {
  position: absolute;
  top: 0;
  left: -150%;
  width: 150%;
  height: 100%;
  content: "";
  background: linear-gradient(
                  90deg,
                  rgb(224 224 224 / 0%) 0%,
                  rgb(255 255 255 / 40%) 50%,
                  rgb(224 224 224 / 0%) 100%
  );
  animation: shimmer 0.6s infinite;
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}
