.container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 10px
}

.prefectures-heading {
    font-weight: bold;
    display: flex;
    justify-content: center;
}

.hint-box {
    padding: 30px 40px;
    background-color: #f9f9f9;
    text-align: center;
    border: 1px solid #ccc;
}
