.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: wheat;
  padding: 10px 0 10px 0;
}

.logo {
  width: 20px;
  height: 20px;
}

.app-title {
  font-weight: bold;
}